scrapyrealestate/data/ids.json
scrapyrealestate/scrapyrealestate/spiders/__pycache__/yaencontre_spider.cpython-310.pyc
scrapyrealestate/scrapyrealestate/spiders/__pycache__/pisosocom_spider.cpython-310.pyc
scrapyrealestate/scrapyrealestate/spiders/__pycache__/idealista_spider.cpython-310.pyc
scrapyrealestate/scrapyrealestate/spiders/__pycache__/idealista_spider_proxy.cpython-310.pyc
scrapyrealestate/scrapyrealestate/spiders/__pycache__/habitaclia_spider.cpython-310.pyc
scrapyrealestate/scrapyrealestate/spiders/__pycache__/fotocasa_spider.cpython-310.pyc
scrapyrealestate/scrapyrealestate/__pycache__/settings.cpython-310.pyc
scrapyrealestate/data/pichollo.json
scrapyrealestate/scrapyrealestate/__pycache__/items.cpython-310.pyc
scrapyrealestate/scrapyrealestate/__pycache__/proxies.cpython-310.pyc
