[Unit]
After=network.service
Description=Scraping with ${name_file}

[Service]
Type=simple
# WorkingDirectory=/code/python/myapp
ExecStart=${route_path}/scripts/${name_file}.sh
# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target